.font-30{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
   
    font-size: calc(22px + 10 * ((100vw - 360px ) / 1560));
    line-height: calc(20px + 20 * ((100vw - 360px ) / 1560));
    letter-spacing: -0.02em;
    }
.recipeContainer {
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 30px;
    text-align: center;
    align-items: center;
}
.recipeApp {
    width: 70%;
}
.wheatherApp {
    width: 30%;
}

 